

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Brasserie Difré{% endblock %}</title>
     
    {#<script src="{{ asset('assets/js/loader.bundle.js')}}"></script>#}
<script src="{{ asset('assets/js/main.bundle.js')}}"></script>
<script defer src="{{ asset('assets/js/components/loader.js')}}"></script>
<script defer src="{{ asset('assets/js/app.js')}}"></script>

</head>
<body>  
   
    <div class="loader-container">
        <div class="loader">
        </div>
        <img class="loader-logo" src="../assets/images/logo_loader.png" alt="logo">
    </div>
    
    <article>

        {% block body %}
            <img height="350px" src="{{ asset('assets/images/logo.png') }}" alt="Brasserie Difré">
            <p>Pour pouvoir visiter notre site, vous devez être en âge d'acheter et de
                    consommer de l'alcool conformément à la legislation en vigueur.
            </p>
            <p>L'abus d'alcool est dangereux pour la santé. À consommer avec modération.</p>
            <div class="age">
                <form action="/verification/age" method="post">
                    <input type="hidden" name="age" value="1">
                    <button class="green" >+18</button>
                </form>
                <form action="/verification/age" method="post">
                    <input type="hidden" name="age" value="0">
                    <button class="red">-18</button>
                </form>
            </div>
        {% endblock %}

  </article>
</body>
</html>